[submodule "benchmarks"]
	path = benchmarks
	url = https://github.com/actor-framework/benchmarks.git
[submodule "opencl"]
	path = libcaf_opencl
	url = https://github.com/actor-framework/opencl.git
[submodule "libcaf_python"]
	path = libcaf_python
	url = https://github.com/actor-framework/python.git
